body{
    margin:1vh 0;
    padding: 0;
    min-height: 120vh;
    background-color: #6d5266;
    background-image: 
    radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
    background-position:
    -10vmax -5vmax,
    3vmax 5vmax,
    -3vmax -1vmax,
    2vmax 2vmax;
}
.botton{
    float: right;
    padding-right: 3%;
    padding-top:3%;
}
.botton a{
    text-decoration: none;
    padding: 8px 24px;
    color: rgba(255, 255, 255, 0.662);
    font-size: 20px;
    background-color: rgba(250, 235, 215, 0.317);
    transition: 0.5s;
    border-radius: 26px;
}
.top{
    margin-top: 0.9vh;
    width: 100%;
    display: inline-block;
    align-items: center;
}
.main{
    background-color: rgba(250, 235, 215, 0.208);
    margin: 4%;
    padding: 3%;
    border-radius: 10px;
}
img{
    width: 64px;
    filter:opacity(70%);    
}
.anime{
    background-color: rgba(250, 235, 215, 0.208);
    margin: 4%;
    padding: 4%;
    border-radius: 10px;
}
p{
    padding: 1vmin;
}